//Copyright (C)2014-2019 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.2beta
//Part Number: GW1N-LV1QN48C6/I5
//Created Time: Tue 10 15 11:23:18 2019

IO_LOC "clk_in" 13;
IO_PORT "clk_in" PULL_MODE=DOWN;
//IO_LOC "clk_in" 35; //internal Clock

IO_LOC "clk_out" 14;
//IO_LOC "clk_out" 18; //led Red

IO_LOC "nrst" 15; // button A

IO_LOC "scale[7]" 45;
IO_PORT "scale[7]" PULL_MODE=DOWN;

IO_LOC "scale[6]" 44;
IO_PORT "scale[6]" PULL_MODE=DOWN;

IO_LOC "scale[5]" 43;
IO_PORT "scale[5]" PULL_MODE=DOWN;

IO_LOC "scale[4]" 42;
IO_PORT "scale[4]" PULL_MODE=DOWN;

IO_LOC "scale[3]" 41;
IO_PORT "scale[3]" PULL_MODE=DOWN;

IO_LOC "scale[2]" 40;
IO_PORT "scale[2]" PULL_MODE=DOWN;

IO_LOC "scale[1]" 39;
IO_PORT "scale[1]" PULL_MODE=DOWN;

IO_LOC "scale[0]" 38;
IO_PORT "scale[0]" PULL_MODE=DOWN;

